.jobs__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 0;

    @include breakpoint('md') {
        padding: 100px 0;
    }

    &__item {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, .4);
    }

    &-filters {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 30px;
        padding: 30px 0 15px;

        @include breakpoint('md') {
            flex-direction: row;
        }

        .dropdown {
            button {
                @include button;

                width: 100% !important;

                @include breakpoint('md') {
                    width: fit-content !important;
                }
            }

            .show {
                background-color: #3c4043;
                padding: 5px 0;
                right: 0 !important;

                a {
                    padding: 5px 10px;
                    text-align: center;
                    @include navigation-link-light;

                    &:not(:first-of-type) {
                        border-top: 1px solid #eee;
                    }
                }
            }
        }
    }

    &-filtervalues {
        padding-bottom: 60px;
        padding-left: 0;
        padding-right: 0;
        @include normal-text;

        span {
            font-style: italic;
            opacity: 0.6;
            font-weight: 300;
        }
    }

    &-reset {
        @include button-alt;
        width: 100% !important;

        @include breakpoint('md') {
            margin-left: auto;
            width: fit-content !important;
        }
    }

    &-subtitle {
        @include small-title;
    }

    &-title {
        @include big-title;
    }
}