.newjob {
  background: radial-gradient(
      198.57% 1678.87% at 20.74% 37.38%,
      #3c4043 6.02%,
      #00c6b4 100%
    );

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 0;

    @include breakpoint('md') {
      padding: 100px 0;
    }

    &-title {
      @include big-text;
      padding-bottom: 2rem;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &-btn {
      button {
        @include button;
        margin-top: 24px;
      }
    }
  }

  &__btn {
    @include button;
  }

  .quill {
    background-color: white;
  }
}
