.specificjob {
  &__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__svg {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;

    @include breakpoint('md') {
      display: block;
    }

    img {
      height: 300px;
      width: 100%;
      max-width: 300px;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
      border-radius: 10px;

      @include breakpoint('md') {
        &:hover {
          transform: scale(1.04);
        }
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &-cta {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: -300px;
    right: 100px;

    &__delete {
      background: none;
      border: none;
      font-size: 30px;
    }

    &__edit {
      font-size: 30px;
      color: black;
    }
  }

  &__basic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-top: 16px;

    &-info {
      @include normal-text;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
    }
  }

  &__title {
    font-size: 44px;
    font-weight: bold;
    display: flex;
    flex-direction: column;

    &--main {
      @include big-title;
      color: #00c6b4 !important;
    }
  }

  &__list {
    padding-inline-start: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    list-style-type: circle;

    li {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.5px;
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }

  &__subtitle {
    font-size: 20px;
    margin-block-end: 1em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__description {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;

    span {
      font-family: 'Poppins', sans-serif;
    }

    strong {
      font-weight: 800;
      font-family: 'Poppins', sans-serif;
    }

    ul {
      list-style-type: initial;
      list-style-position: inside;
    }

    p {
      padding: 16px 0;
      font-size: 22px;
      font-family: 'Poppins', sans-serif;

      &:first-of-type {
        padding-top: 0;
      }
    }

    li {
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
    }

    em {
      font-style: italic;
      font-family: 'Poppins', sans-serif;
    }

    a {
      transition: all 0.2s ease-in-out;

      &:hover {
        color: blue !important;
        text-decoration: underline;
        text-decoration-color: blue;
      }
    }

    h3 {
      font-size: 20px;
      padding: 16px 0;
    }

    h4 {
      font-size: 18px;
      padding: 12px 0;
    }
  }

  &__company {
    font-size: 28px;
    font-weight: bold;
  }

  &__location {
    font-style: italic;
  }

  &__article {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0;
  }

  &__btn {
    align-self: center;

    &--back {
      @include button;
      width: 100% !important;
    }

    &--choose {
      @include button-alt;
      width: 100% !important;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include breakpoint('md') {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
  }

  &__seniority {
    @include small-title;
    opacity: 0.8;
    font-size: 22px !important;
  }

  &__pay {
    @include small-title;
    opacity: 0.8;
    font-size: 22px !important;
  }

  &__location {
    @include normal-text;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    opacity: 0.6;
    font-weight: 300;
  }

  &__first {
    order: 2;

    @include breakpoint('md') {
      order: 1;
    }
  }

  &__second {
    order: 1;

    @include breakpoint('md') {
      order: 2;
    }
  }
}
