.home {
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    &--middle {
      position: relative;
      background: radial-gradient(198.57% 1678.87% at 20.74% 37.38%,#3c4043 6.02%,#00c6b4 100%);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }
  }

  &__jobs {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;

    @include breakpoint('lg') {
      padding: 4rem 0 6rem;
    }

    .jobs__card-title {
      margin-top: 0;
      margin-bottom: 0;
    }

    &-none {
      @include normal-text;
      padding-bottom: 50px;
    }

    h2 {
      @include big-title;
    }

    h5 {
      @include small-title;
    }

    &-position {
      font-size: 1.5rem;
    }

    &-overlay {
      z-index: 2;
      height: 100%;
    }

    &-article {
      height: 100%;
      position: relative;
      filter: grayscale(0.8);
      color: white;
      transition: all 0.2s ease-in;

      &:hover {
        filter: grayscale(0);
        z-index: 3;

        .home__jobs-position {
          filter: brightness(1.6);
          color: white;
        }
      }
    }

    &-text {
      position: absolute;
      bottom: 20px;
      left: 20px;
    }

    &-image {
      height: 100%;
      width: 100%;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__main {
    &-container {
      padding: 100px 0 20px;

      @include breakpoint('md') {
        padding: 100px 0 50px;
      }
    }

    &-para {
      @include normal-text;
      margin: 10px 0 16px;
    }

    &-svg {
      position: absolute;
      top: 0;
    }

    &-content {
      h1 {
        @include big-title;
      }

      h5 {
        @include small-title;
      }
    }
  }

  &__benefits {
    padding: 4rem 0 6rem;

    h5 {
      @include small-title;
    }

    h2 {
      @include big-title;
      color: white;
    }

    &-subtitle {
      @include big-text;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include breakpoint("lg") {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }

    &-item {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      padding: 50px 25px;
      background-color: white;
    }

    &-article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      transition: all 0.2s ease-in-out;

      svg {
        font-size: 32px;
      }
    }

    &-text {
      text-align: center;

      @include normal-text;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    position: relative;
    z-index: 2;

    h1 {
      font-size: 24px;
      font-weight: 500;
      color: white;
    }

    &-ctas {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include breakpoint('md') {
        flex-direction: row
      }

      button {
        @include button;
      }
    }
  }

  &__row {
    gap: 48px;
  }

  &__col {
    &-second {
      align-self: center;
    }
  }

  &__about {
    padding: 4rem 0 6rem;

    &-title {
      @include big-title;
    }

    &-subtitle {
      @include small-title;
    }

    &-text {
      @include normal-text;
    }
  }
}
