.feedbacks {
  &__list {
    &-column {
      margin-bottom: 20px;
    }
  }

  &__options {
    &-list {
      display: flex;
      flex-direction: column;
    }

    &-wrapper {
      position: relative;
    }

    &-select {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      padding: 5px 15px;
      border-radius: 30px;
      outline: none;
      background-color: lightgrey;
    }

    &-title {
      font-size: 28px;
      padding: 20px 0;
    }

    &-item {
      height: 100%;

      &:hover {
        .jobs__card {
          img {
            transform: scale(1.03);
          }

          &-title {
            color: #3c4043;
          }

          &-pill {
            background-color: rgba(60, 64, 67, 0.8);
          }
        }
      }

      img,
      .jobs__card-title,
      .jobs__card-pill {
        transition: all 0.2s ease-in-out;
      }
    }

    &-image {
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        height: auto;
        max-width: 150px;
      }
    }

    &-article {
      height: 100%;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        background-color: gray;
        z-index: -1;
      }

      h1 {
        font-weight: 600;
        font-size: 22px;
      }

      h1,
      h3 {
        text-align: center;
      }
    }

    &-address {
      padding: 10px 0;
      margin-top: auto;
      background-color: lightgrey;
      width: 100%;
      text-align: center;
    }

    &-ctas {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-button {
      color: white;
      font-weight: 500;
      background-color: #0d6efd;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease-in-out;

      &:hover {
        color: white;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__specifics {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;

    &-subtitle {
      @include small-title;
    }

    &-title {
      @include big-title;
      display: flex;
      flex-direction: column;

      &--name {
        color: #00c6b4 !important;
      }
    }
  }

  &__specific {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;

    &-headline {
      display: flex;
      justify-content: space-between;
    }

    h1 {
      font-size: 22px;
      font-weight: 300;
      padding-bottom: 5px;
      width: fit-content;
      border-bottom: 4px solid black;
    }

    &-wrapper {
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    }

    &-delete {
      display: flex;
      justify-content: flex-end;
    }

    &-overview {
      padding: 20px;
    }

    &-title {
      font-size: 24px;
    }

    &-text {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }

  &__aside {
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-company {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 16px;
      padding-bottom: 10px;

      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &-info {
      @include normal-text;
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding-top: 16px;
      padding-bottom: 16px;

      p {
        font-weight: inherit;
      }

      &--text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
      }

      &--title {
        font-weight: bold;
        font-size: 28px;
      }

      &--more {
        @include small-title;
        opacity: 0.8;
        font-size: 22px !important;
      }
    }

    &-btn {
      @include button;
      width: 100% !important;
    }
  }

  &__main {
    padding: 80px 0;
    position: relative;
    z-index: 2;

    @include breakpoint("md") {
      padding: 100px 0;
    }

    &-subtitle {
      @include small-title;
    }

    &-title {
      @include big-title;
    }

    button,
    a {
      @include button;
    }

    p {
      @include normal-text;
      margin: 10px 0 16px;
    }
  }

  &__none {
    @include normal-text;
    padding: 20px 0 80px;
  }
}
