.splide {
  &__slide {
    cursor: pointer;
    max-height: 400px;
  }

  &__track {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__arrow {
    width: 3em;
    height: 3em;
    opacity: 1;
    transition: all 0.1s ease-in-out;
    background-color: #0d6efd;
    border: none;
    outline: none;

    &:disabled {
      opacity: 0;
    }

    &--prev {
      left: -14px;
    }

    &--next {
      right: -14px;
    }

    svg {
      fill: white;
    }
  }

  &__image {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}
