.splide {
  &__slide {
    cursor: pointer;

    &:hover {
      .jobs__card {
        img {
          transform: scale(1.03);
        }

        &-title {
          color: #3c4043;
        }

        &-pill {
          background-color: rgba(60, 64, 67, 0.8);
        }
      }
    }
  }

  &__track {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__arrow {
    width: 3em;
    height: 3em;
    opacity: 1;
    transition: all 0.1s ease-in-out;
    background-color: #00c6b4;
    color: white;
    border: none;
    outline: none;

    &:disabled {
      opacity: 0;
    }

    &--prev {
      left: -14px;
    }

    &--next {
      right: -14px;
    }

    svg {
      fill: white;
    }
  }

  &__image {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}
