.ql-editor {
    min-height: 300px;

    h1 {
        border-bottom: 0 !important;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    ul {
        list-style-type: inherit;
    }
}