.image-upload {
    &__preview {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    img {
        height: auto;
        width: 100%;
        max-width: 100px;
    }

    &--text {
        color: white;
        font-weight: 400;
    }
}