.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
  background-color: transparent;
  transition: top 0.3s ease-in;

  &--show {
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
  }
}

.navbar {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 0;
  padding-top: 0;

  &__hamburger {
    svg {
      transform: scale(1.25);
    }
  }

  &-nav {
    margin-left: auto;
    gap: 20px;
    margin-bottom: 20px;

    @include breakpoint('md') {
      margin-bottom: 0;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &-link {
      @include navigation-link;

      &--title {
        font-size: 22px;
        color: black !important;
      }
    }

    input[type="search"]::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }
    /* clears the ‘X’ from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }

    /* clears the ‘X’ from Internet Explorer */
    input[type="search"]::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    input {
      outline: none;
      padding: 5px 35px;
      border-radius: 20px;
      border: 1px solid white;
      background: inherit;
      color: white;

      &::placeholder {
        color: white;
      }

      &:disabled {
        background-color: #303134;
        color: white;
        border: none;
      }

      &:focus,
      &:active {
        background-color: #303134;
      }
    }

    &-item {
      height: auto;

      &--search {
        position: relative;

        svg {
          position: absolute;
          fill: white;
          font-size: 20px;
          top: 8px;
          left: 10px;
        }
      }

      a {
        display: block;
        height: 100%;
        font-weight: 400;
        color: white;
        font-size: 22px;
        padding-top: 5px;
        padding-bottom: 5px;

        @include breakpoint('md') {
          padding: 20px 10px;
          font-size: 18px;
        }
      }
    }
  }

  &-toggler {
    border: none !important;
    box-shadow: none !important;
    padding: 20px 0;
    color: #3c4043 !important;
    
    @include breakpoint('md') {
      padding: 0;
    }
  }
}
