.pagination {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    gap: 16px;

    .page {
        &-link {
            border-radius: 50% !important;
            padding: 6px 10px;
            border: 1px solid #424353;
            background: #30313d;
            color: white;

            &:focus {
                box-shadow: 0 0 0 0.25rem rgb(0 198 180 / 50%);
            }
        }
    }
}