@mixin button {
  display: inline-block;
  background: #00c6b4 !important;
  font: 700 16px "Roboto", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  padding: 13px 66px;
  border: none !important;
  width: fit-content !important;
  box-shadow: none !important;
  @content;

  &:hover {
    background-color: #ffde4d !important;
    color: #282828;
    border: 1px solid #ffde4d;
  }
}

@mixin button-alt {
  display: inline-block;
  background: #ffde4d;
  font: 700 16px "Roboto", sans-serif;
  color: #282828;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
  padding: 13px 66px;
  border: none !important;
  width: fit-content !important;
  box-shadow: none !important;
  @content;

  &:hover {
    background-color: #3c4043;
    color: white;
    border: 1px solid #3c4043;
  }
}

@mixin button-alt-none {
  display: inline-block;
  background: none;
  font: 700 16px "Roboto", sans-serif;
  color: #282828;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  border: none !important;
  width: fit-content !important;
  box-shadow: none !important;
  @content;

  &:hover {
    color: #00c6b4;
    background-color: transparent !important;
  }
}
